.header /*头部区域*/
{
    background-color: #fde2f5;
    padding: 20px;
    text-align: center;
}
.menu /* 导航条 */
{
    overflow: hidden;
    height: 54px;
    background-color: hsl(240, 76%, 48%);
}
.menu a/* 导航链接 */
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover /* 链接 - 修改颜色 */
{
    background-color: rgb(221, 221, 221);
    color: rgb(87, 97, 245);
}
/*菜单*/
/*导航栏style*/
#menu 
{
  width: 100%;
  height: 45px;
  background-color: hsl(240, 76%, 48%);
}
#menu ul
{
  margin: 0;
}
#menu li
{
  float: left;
  width: 100px;
  line-height:45px;
  text-align: center;
  position:relative;
  margin-left: 20px;
  display: block;
}
#menu li a 
{
  font-size:16px; 
  color: white;
  display:block;
  text-decoration:none; 
}
#menu li:hover a 
{
  background-color: white;
  color: hsl(240, 76%, 48%); /*导航栏文字颜色 */ 
}
.dropdown
{ 
  margin: 0px auto;/* 下拉菜单边框颜色*/
  position: absolute;
  left: -999em;/*让下拉框左远离当前布局*/
  text-align: left;
  width: 140px;
}
#menu li:hover .dropdown 
{
  left:0px;/*重新设置下拉框回到当前布局*/
  top:38px;
  margin-top: 8px;
  background-color:#9594E2;
}
#menu li:hover div a /* 下拉菜单文字及背景颜色颜色*/
{ 
  line-height: 40px;
  font-size:14px;
  color:white;
  background-color: #9594E2;
}
#menu li:hover div a:hover  /*下拉带单鼠标停留颜色*/
{
  color:red;
}
#menu li ul li
{
  font-size:12px;
  line-height:26px;
  position:relative;
  padding:0;
  margin:0;
  text-align:left;
  width:100px;
}


.video/* 视频 */
{
  margin: 20;
  padding: 20;
  height:400px;
  width:600px;
}

.column /* 创建三个不相等的列 */
{
  float: left;
  padding: 10px;
}
.column.side /* 左右宽度 */
{
  width: 10%;
}
.column.middle /* 中间宽度 */
{
  width: 75%;
}
.row:after /* 列后面清除浮动 */
{
  content: "";
  display: table;
  clear: both;
}
   

  
  .fakeimg /* 图像 */
  {
    background-color: #aaa;
    width: 80%;
    padding: 20px;
  }
   
  /* 文章卡片分版块 */
  .card /*介绍部分*/
  {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
  }
  .card1 /*视频部分*/
  {
    background-color: rgba(206, 233, 248, 0.726);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }
  

  .row:after /* 列后面清除浮动 */
  {
    content: "";
    display: table;
    clear: both;
  }
   
  
  .footer /* 底部 */
  {
    padding: 20px;
    text-align: center;
    background: #fde2f5;
    margin-top: 20px;
  }
   
body/*背景颜色*/
{
    background-color: seashell;
}
.information/*ta的基本信息*/
{
    text-align: center;
    position: relative;
    right: auto;
    width: 100%;
    border: 3px solid rgb(124, 92, 111);
    padding: 10px;
}


a:link  /* 正常，未访问链接*/
{
    color: #0000FF;
    text-decoration: none;
}     
a:visited  /* 用户已访问链接 */
{
    color:#00FF00;
} 
a:hover  /* 鼠标移动在链接上 */
{
  color:rgb(238, 30, 15);
} 
a:active  /* 鼠标点击那下 */
{
  color:rgb(12, 12, 12);
} 
ul.a
{
   list-style-type: square;
}

#overflowTest /*滚动条*/
{
  background: rgb(171, 206, 240);
  color: white;
  padding: 15px;
  width: 95%;
  height: 600px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.form tr th/*表格*/
{
  border-style: groove;
  background-color: pink;
}


/* 创建两列 */
.leftcolumn /*左边 (第一部分里)*/
{   
  float: left;
  width: 70%;
}
.rightcolumn /* 右边（第一部分里） */
{
  float: left;
  width: 20%;
  background-color: #fffdfd;
  padding-left: 10px;
}


.left  /*左边 */
{   
  float: left;
  width: 30%;
}
.right /* 右边 */
{
  float: left;
  width: 60%;
  background-color:rgb(255, 255, 255);
  padding-left: 10px;
}
 
.cata/*目录*/
{
  margin: auto;
  font-size: larger;
}

.frame /*框架*/
{
  border-style: none;
  width: 100%;
}

/*第一栏的一张照片图片*/
 div1.img 
{
  margin: 50px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div1.img:hover 
{
  border: 1px solid #777;
}

div1.img img 
{
  width: 100%;
  height: auto;
}

div1.desc 
{
  padding: 15px;
  text-align: center;
}

/*杂志写真的图片*/

div2.img 
{
  margin: auto;
  border: 0px solid #ccc;
  margin: auto;
  width: auto;
}

div2.img:hover 
{
  border: 0px solid #777;
}

div2.img img 
{
  width: 100%;
  height: auto;
}

div2.desc 
{
  padding: 25px;
  text-align: center;
}
/*电视剧电影的图片*/

div3.img 
{
  margin: auto;
  border: 0px solid #ccc;
  margin: auto;
  width: auto;
}

div3.img:hover 
{
  border: 0px solid #777;
}

div3.img img
{
  width: 100%;
  height: auto;
}

div3.desc 
{
  padding: 25px;
  text-align: center;
}

div4.img 
{
  margin: 200px;
  border: 0px solid #ccc;
  margin: auto;
  width: auto;
}

div4.img:hover 
{
  border: 0px solid #777;
}

div4.img img
{
  width: 100%;
  height: 250px;
}

div4.desc 
{
  padding: 25px;
  text-align: center;
}

.responsive 
{
  padding: 10 100px;
  width: 100%;
}


/*加注释 ，鼠标滑过  [2][11]*/
.tooltip 
{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext 
{
  visibility: hidden;
  width: 120px;
  background-color: rgb(36, 110, 248);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute; /* 定位 */
  z-index: 1;
}

.tooltip:hover .tooltiptext 
{
  visibility: visible;
}

/*调整字体*/
p.italic 
{
  font-style:italic;
  color: #777;
}
/*调整字的颜色*/
p.color /*提名*/
{
  color: brown;
}
p.color1/*获奖*/
{
  color: rgb(253, 4, 4);
}


body/*消除整个网页得内外边距*/
{
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) 
{
  body 
  {
      background-color: rgb(250, 233, 212);
  }
}
/* 响应式布局 - 宽度小于600px时设置上下布局 */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 1200px) 
{
  .leftcolumn, .rightcolumn 
  {   
    width: 100%;
    padding: 0;
  }
}
 
/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) 
{
  .topnav a 
  {
    float: none;
    width: 100%;
  }
}
/*响应式*/
@media only screen and (max-width: 700px)
{
  .responsive 
  {
      width: 100%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px)
{
  .responsive, .information
  {
      width: 100%;
  }
}